[Unit]
Description=Apply BBQLinux specific MATE settings
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/bbqlinux-mate-settings.sh

[Install]
WantedBy=default.target
